<ion-header class="cabeza">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="mostrarMenu()">
        <ion-icon slot="start" name="menu-outline"></ion-icon>
        
      </ion-button>
    </ion-buttons>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title class=titulo><strong>RegistrAPP</strong></ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-card>
        <img src="assets/logo_app_3.png" class="ion-padding">
      </ion-card>
      <br>
      <p class="parrafo">
        ~En la actualidad uno de los principales problemas que enfrentan los docentes por el tema de la pandemia es el registro de asistencia 
      </p>
      <ion-card-content>
        <p class="parrafo">- Uno de los principales problemas son: </p>
        <ion-card style="background-color: rgb(151, 182, 248)">
        </ion-card>
        <p class="parrafo">- Realización de múltiples tareas de parte del docente en la sala de clases.</p>
        <ion-card style="background-color: rgb(151, 182, 248)">
        </ion-card>
        <p class="parrafo">- Falta de tiempo adecuado para el registro</p>
        <ion-card style="background-color: rgb(151, 182, 248)">
        </ion-card>
        <p class="parrafo">- Confusión en el registro de los alumnos debido al no poder reconocer visualmente a los alumnos a causa de las mascarillas</p>
        <ion-card style="background-color: rgb(151, 182, 248)">
        </ion-card>
        <p class="parrafo">- Olvido por parte del docente de realizar esta actividad</p>
        <ion-card style="background-color: rgb(151, 182, 248)">
        </ion-card>
        <img src="assets/profesor.jpg" alt="ion-padding">
        <ion-card style="background-color: rgb(151, 182, 248)">
        </ion-card>
        <p class="parrafo">- Olvido por parte del docente de realizar esta actividad</p>
        <ion-card style="background-color: rgb(151, 182, 248)">
        </ion-card>
        <p class="parrafo">- Con el fin de terminar con esta problemática en forma definitiva, se ha contactado a alumnos de Duoc UC para que desarrollen una Aplicación Móvil RegistrAPP capaz de ser 
          utilizada en plataformas tanto como Android e iOS que permita que cada alumno registre su propia asistencia.</p>
        <ion-card style="background-color: rgb(151, 182, 248)">
        </ion-card>
        <ion-card-title class="titulo"><Strong>Docentes</Strong></ion-card-title>
        <p class="parrafo">- En el apartado de los docentes ellos podrán generar un QR el cual será escaneado por los estudiantes</p>
        <img src="assets/Pantalla_Docente.png">
        <ion-card style="background-color: rgb(151, 182, 248)">
        </ion-card>
        <ion-card-title class="titulo"><Strong>Estudiantes</Strong></ion-card-title>
        <p class="parrafo">- En el apartado de los estudiantes ellos tendrán acceso a la cámara de su dispositivo el cual les 
        permitirá escanear el código QR generado por su profesor/a y de esa forma registrar su asistencia</p>
        <img src="assets/Pantalla_Estudiante.png">
      </ion-card-content>
    </ion-card-content>
  </ion-card>
</ion-content>